<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/utility.css" />
    <title>page</title>
  </head>
  <body>
    <% if (flash.success && flash.success != 0) { %>
    <h5 id="success"><%= flash.success %></h5>
    <% } else if(flash.error && flash.error !=  0) { %>
    <h5 id="error"><%= flash.error %></h5>
    <% } %> <%- include('_header') %> <%- body %> <%- include('_footer') %>
  </body>
</html>
